<footer class="footer flex --just-space --align-end">
    <nav class="footer__nav nav">
        <ul class="nav__list flex">
            <li class="nav__item"><a href="#" class="nav__link">Terms & Conditions</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Cookies</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Careers</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Brand Guide</a></li>
        </ul>
    </nav>
    <div class="footer__social social flex --dir-col --align-end">
        <p class="social__text">Our social media:</p>
        <ul class="social__list flex">
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg twitter', 'id': 'twitter'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg facebook', 'id': 'facebook'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg instagram', 'id': 'instagram'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg linkedin', 'id': 'linkedin'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg youtube', 'id': 'youtube'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg tiktok', 'id': 'tiktok'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg telegram', 'id': 'telegram'})</a></li>
            <li class="social__item"><a href="#" class="social__link link">@@include('../../bem-blocks/_sprite/_sprite.html',{'class': 'link__svg vk', 'id': 'vk'})</a></li>
        </ul>
    </div>
</footer>
